
<h2 class="ui center aligned medium icon header">
  <i class="circular violet comments icon"></i>
  Chatroom
</h2>


<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card" id="chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Helen Troy</a>
              </div>
              <div class="extra text">
                Hi
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <a>Laura Faucet</a>
              </div>
              <div class="extra text">
                Have you seen what's going on in Israel? Can you believe it.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="four wide column">
    <div class="ui fluid raised card" id ="chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
